// underscore in filename  is used to indicate that this is a partial file and should not be compiled on its own. It is meant to be imported into other Sass files.

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
